/* //////// ****** /////////////////////////// */
/* // BEGINNING OF SOCIAL MEDIA BUTTONS */
#social {
    text-align: center;
    padding-top: 46px; 
    padding-bottom: 30px; 
    background-color: white;
  }
  
  .smGlobalBtn { /* global button class */
      display: inline-block;
      position: relative;
      cursor: pointer;
      width: 50px;
      height: 50px;
      border:2px solid rgb(0, 0, 0); /* add border to the buttons */
      padding: 0px;
      text-decoration: none;
      text-align: center;
      color: #fff;
      background-color: black;
      font-size: 25px;
      font-weight: normal;
      line-height: 2em;
      border-radius: 27px;
      -moz-border-radius:27px;
      -webkit-border-radius:27px;
  }

  .smGlobalBtn:hover {
    color: rgb(20, 20, 20);
    background: white; 
    border-color: rgb(142, 177, 37);  /* change the border color on mouse hover */
  }
  
  /* facebook button class*/
  .facebookBtn{
    background:black;
    color: white;
  }
  
  .facebookBtn:before{ /* use :before to add the relevant icons */
      font-family: "FontAwesome";
      content: "\f09a"; /* add facebook icon */
  }
  
  .facebookBtn:hover{
      color: black;
      background: white; 
      border-color: rgb(142, 177, 37);  /* change the border color on mouse hover */
  }
  
  /* twitter button class*/
  .twitterBtn{
    background:black;
    color: #0379e7;
  }
  
  .twitterBtn:before{
        font-family: "FontAwesome";
        content: "\f099"; /* add twitter icon */
        
  }
  
  .twitterBtn:hover{
    color: rgb(20, 20, 20);
    background: white; 
    border-color: rgb(142, 177, 37);  /* change the border color on mouse hover */
  }
  
  /* google plus button class*/
  .googleplusBtn{
      background: black;
  }
  
  .googleplusBtn:before{
        font-family: "FontAwesome";
        content: "\f0d5"; /* add googleplus icon */
  }
  
  .googleplusBtn:hover{
    color: rgb(20, 20, 20);
    background: white; 
    border-color: rgb(142, 177, 37);  /* change the border color on mouse hover */
  }
  
  /* linkedin button class*/
  .linkedinBtn{
    background:black;
    color: white;
  }
  
  .linkedinBtn:before{
        font-family: "FontAwesome";
        content: "\f0e1"; /* add linkedin icon */
  }
  
  .linkedinBtn:hover{
    color: rgb(20, 20, 20);
    background: white; 
    border-color: rgb(142, 177, 37);  /* change the border color on mouse hover */
  }
  
  #allRights {
    font-size: 10px;
    color: black;
    padding-top: 15px; 
  }

  #offices1 {
    font-size: 10px;
    color: black;
  }

  #offices1:hover {
    cursor: pointer; 
    color: rgb(142, 177, 37);  
  }


  #offices2 {
    font-size: 10px;
    color: black;
  }

  #offices2:hover {
    cursor: pointer; 
    color: rgb(142, 177, 37);  
  }
  


  
/* // END OF SOCIAL MEDIA BUTTONS */
/* //////// ****** /////////////////////////// */

@media only screen and (max-width: 750px) {
#social {
  padding-top: 250px; 
}
}



